<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cci_loaner.reactandroid">
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/brain"
        android:label="@string/app_name"
        android:roundIcon="@drawable/brain"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
        <activity android:name=".Auth.LoginActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
    </activity>
        <activity android:name=".Auth.RegisterActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".SettingsActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".CustomRecording.AudioRecorderActivity"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".RealtimeStream.StreamRecording"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ActivityCalendar"
            android:noHistory="true"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ActivityVideoRecording"
            android:noHistory="true"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ActivityVideoPlayer"
            android:noHistory="true"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ActivityMarketPlace"
            android:noHistory="true"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".OCR.MainActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".OCR.OcrCaptureActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>